{{define "title"}}About{{end}}

{{define "main"}}
  <h2>About</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet dictum nisi. Sed sed justo dignissim justo convallis blandit non sed lectus. Nulla ut consectetur purus. Aenean fermentum feugiat libero, eget vulputate lectus. Aenean consequat sapien ut nulla ornare tincidunt. Nam risus nunc, placerat eget accumsan eget, eleifend ac lectus. Donec luctus justo a metus mattis accumsan. Aliquam commodo dolor vitae scelerisque pretium. Sed egestas pulvinar interdum. Donec tincidunt lacinia lacus ut tincidunt. Integer elementum turpis eget tellus placerat, eu placerat elit iaculis. Nunc aliquam, odio sit amet egestas semper, erat tellus dictum arcu, eu finibus purus est in.</p>
{{end}}

